{% extends "blog/base.html" %}

{% block content1 %}
<div class="inner" id="content-inner">
      <article class="post page" id="page">
  <header class="post-header text-center">
  </header>
  <div class="post-content">

        <h2 id="Contact"><a href="#Contact" class="headerlink" title="Contact"></a>Contact</h2><ul>
<li>Email: <a href="m15584418917@163.com" target="_blank" rel="noopener">m15584418917@163.com</a></li>
<li>Github: <a href="https://github.com/yrzsp/" target="_blank" rel="noopener">https://github.com/yrzsp/</a></li>


  </div>
</article>
    </div>
{% endblock content1 %}

